{% extends "_base_dashboard.twig" %}


{% block content %}
    <h2>Printers</h2>

    <h4>Google cloud print printer registration</h4>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <a href="https://www.google.com/cloudprint/enable_chrome_connector/enable.html" target="_blank">Add Printers</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <a href="https://www.google.com/cloudprint/" target="_blank">Google Cloud Print Dashboard</a>
                </div>
            </div>
        </div>
    </div>
    <br>


    <h4>Registered Printers</h4>
    <div class="row">
        {% for printer in PRINTERS %}
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ printer.name }}</h5>
                        <span class="badge badge-primary">{{ printer.connectionStatus }}</span>
                        <p class="card-text">{{ printer.id }}</p>
                        {% if DEFAULT == printer.id %}
                            <button class="btn btn-danger">Remove as default</button>
                        {% else %}
                            <button class="btn btn-primary">Set as default</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}